.header {
	border-bottom: 1px solid #ececec;
}
.container-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// position: relative;
	height: 60px;
}

.logo {
	padding: 16px 0;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
	text-decoration: none;
}
.logo--black {
	color: #000000;
}
@media screen and (max-width: 767px) {
	.menu-button {
		border: none;

		background-color: transparent;
		color: #000;
		&.is-open {
			color: #000;
			z-index: 2;
		}
		&:hover,
		&:focus {
			color: var(--accent-color);
		}

		&.is-open .icon-menu {
			display: none;
		}

		&.is-open .icon-close {
			display: block;
		}

		.icon-close,
		.icon-menu {
			fill: currentColor;
		}
		.icon-close {
			display: none;
		}
	}

	.header_menu-container {
		display: none;

		position: absolute;
		top: 0;
		left: 0;

		padding: 48px 40px;
		width: calc(100vw + 2px);
		height: 100vh;
		background-color: white;

		&.is-open {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			z-index: 1;
		}
	}
	.header-item:not(:last-child) {
		margin-bottom: 32px;
	}
	.header-list .header-link {
		text-decoration: none;
		font-weight: 500;
		font-size: 40px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: var(--secondary-header);
		transition: color 250ms var(--hover-time);

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}
	.header-list .current {
		color: var(--accent-color);
	}
	.header-item-mail {
		display: none;
	}
	.header-item-tel {
		display: none;
	}
	.header-contact {
		display: flex;
		flex-direction: column-reverse;
	}
	.header-item:not(:first-child) {
		margin-bottom: 32px;
	}
	.header-contact .link-blue {
		font-weight: 500;
		font-size: 34px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: var(--accent-color);
	}
	.header-contact .link-gray {
		font-weight: 500;
		font-size: 28px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: #757575;
	}
	.header__social {
		display: flex;
		&--item:not(:last-child) {
			margin-right: 20px;
			padding-right: 10px;
			border-right: 1px solid rgba(33, 33, 33, 0.2);
		}
		&--font {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.22;
			letter-spacing: 0.02em;
			color: var(--accent-color);
		}
	}
}
