.hero {
	height: 400px;
	margin: 0 auto;
	padding: 118px 0px;
	text-align: center;

	@media screen and (max-width: 767px) {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/mobile/Header.webp);

		width: 100%;
		max-width: 480px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: linear-gradient(
					rgba(47, 48, 58, 0.4),
					rgba(47, 48, 58, 0.4)
				),
				url(../images/mobile/Header_x2.webp);
			background-size: cover;
		}
	}
}
.hero__btn {
	padding: 10px 32px;
	border: 0px;
	margin: 0 auto;

	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	border-radius: 4px;
	color: #ffffff;
	background-color: var(--accent-color);
	cursor: pointer;
}
.hero-title {
	margin: 0 auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	@media screen and(max-width:1199px) {
		max-width: 360px;
	}
}
