h1,
h2,
h3,
h4,
h5,
ul,
p {
	margin: 0px;
	padding: 0px;
}
img {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
li {
	text-decoration: none;
}
a {
	text-decoration: none;
	list-style: none;
}
