@media screen and (min-width: 1200px) {
	.clients {
		padding: 94px 0;
	}
	.clients_header {
		margin-bottom: 50px;
		font-size: 36px;
	}
	.clients_link {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 170px;
		height: 92px;
	}
}
